# build folders
build32/
build64/
build-win32/
build-win64/
build-linux32/
build-linux64/

# generated videos
output/*
*.mp4
*.mov

# keep helper scripts and placeholder files
vids/*
!vids/*.ps1
!vids/*.sh
!vids/.gitkeep